<button class="center-block btn btn-primary btn-lg place-call" ng-click="$aoc('contactsDialog').dialog.open()"
        >Place Call
</button>

<div aoc aoc-dialog="d" d-max-height="500" d-resizable="false" d-width="500" d-draggable="false" d-auto-open="false"
     d-title="'Contacts'" d-close-text="'Close'" d-modal="true" d-position="{at:'top+50px',my:'top',of:'[ng-view]'}"
     id="contactsDialog" ng-init="criteria={index:0,orderBy:'firstName',filter:''}">
    <div class="contact-criteria row">
        <div class="col-xs-12">
           <div class="row"> 
                <div class="col-xs-6">Sort by:</div>
                 <div class="col-xs-6">Filter by:</div> 
           </div>
           <div class="row">
                 <div class="col-xs-6">
                         <select class="input-sm" ng-model="criteria.orderBy">
                                 <option value="firstName">First name</option>
                                   <option value="lastName">Last name</option>
                                   <option value="country">Country</option>
                                    <option value="city">City</option>
                                    <option value="birthDate">Birth date</option>
                                    <option value="phoneNumber">Phone Number</option>
                        </select>
                </div>  
                <div class="col-xs-6">
                    <input class="input-sm" ng-model="criteria.filter" ng-change="criteria.index=0">
                </div>   
           </div>
        </div>
        
    </div>
    
    


    <div class="contact-list">
        <div ng-click="details=!details"  class="contact-entry" ng-init="show={details:false}"
             ng-repeat="contact in contacts |  filter:criteria.filter | orderBy: criteria.orderBy | paginated:criteria.index ">
            <div class="row">
                <div title="Call {{contact.firstName}}" class="col-xs-9" ng-click="$aoc('contactsDialog').dialog.destroy();call(contact.id);">
                    {{contact.firstName + " " + contact.lastName + " - " + contact.phoneNumber}}
                </div>
                <div class="col-xs-3">
                    <button class=" btn btn-success btn-xs"
                            ng-click="show.details=!show.details">Details
                    </button>
                </div>
            </div>
            <div class="hero-unit row contact-details" ng-show="show.details">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <div class="row">

                        <div class="col-xs-12">Born on {{contact.birthDate |unixDate | date: "dd.MM.yyyy"}} in
                            {{contact.city + ", " + contact.country}}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="center-block pages">
        <button class="btn btn-link" ng-class="{'btn-info':criteria.index==$index}"
                ng-click="criteria.index=$index"
                ng-repeat="page in contacts | filter : criteria.filter | pages">{{$index+1}}
        </button>
    </div>
</div>
